<!DOCTYPE html>
<html lang="en">
<head>
    <Style>
    Body{
    Background-image:url("/static/images/imimg.jpg");
    }
    </Style>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<center>
    <h1><b><u>LOGIN</u></b></h1>
<form action="login" method="post">
  {% csrf_token %}
    <h1><input type="text" name="username" placeholder="Enter your Username"></h1><br>
    <input type="password" name="password" placeholder="Enter your password:"><br>
     <h1><input type="submit"></h1>
</form>
</center>
</body>
</html>